
  
  .modal-wrapper {
    position: absolute;
    background: #fff;
    width: 80%;
    height: 100vh;
    max-width: 800px;
    margin: 1rem auto;
    left: 10%;
    border-radius: 10px;
    transition: all .5s ease;
  }
  
  .modal-header {
    background: #2c2c2c;
    color: #e9e9e9;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-content {
    padding: 10px 10px;
  }
  
  .modal-body {
    margin-bottom: 1rem;
  }
  .addStaffForm{
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: auto auto;
      place-items: center;
  }
  .modalstaff-inputfield input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 16px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .modalstaff-inputfield select{
    width: 100%;
    padding: 10px;
    margin: 5px 0 16px 0;
    display: inline-block;
    background: #f1f1f1;
  }

  .modalstaff-submit{
    grid-column: 1 / span 2;
    grid-row: 2;
    
  }
  .modalstaff-submit button{
        margin-top: 1.5rem;
        padding: 1rem 10rem;
        border-radius: 1rem ;
         background: #3981E5;
         border: none;
         text-decoration: none;
         text-align: center;
         color: white;
         font-size: 1.5rem;
         outline: none;
         cursor: pointer;
  }
  
  .modalstaff-submit button:hover{
    opacity: .7;
  }
  
  .back-drop {
    background: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: absolute;
    transition: all 1.3s;
    width: 100%;
  }