
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


/*Override*/
body{
    font-family: "Roboto";
}
.app-main{
    @import './home.scss';
    @import './login.scss';
    @import './user.scss';
    @import './NavigationHeader.scss';
}

.footer{
    position: fixed;
   left: 0;
   bottom: 0;;
   width: 100%;
   background-color: #5E5E5E;
   color: white;
   text-align: center;
   height: 40px;
   h2{
       margin: 0;
       padding: 10px;
   }
}

