.navBarItems{
    background: #3981E5;
    height: 60px;
}
.headerLogo{
    padding-top: 10px;
    float: left;
    margin-left: 50px;
}
.headerMenu{
    float: right;
}
.headerMenuUl{
    li{ 
        margin-top: 10px;
        float: left;
        display: block;
        padding: 5px 16px;
        font-size: 17px;    
    }
    .headerLink{
        text-decoration: none;
        color: white;
    }
}

.navUser{
 background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.navUser:focus{
    outline: none;
}
.navUser:hover{
    background: rgba(255, 0,0, 0.5)
}

.dropdown-content {
    display: grid;
    position: absolute;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content-btn{
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    border-color: #3981E5;
  }

  .dropdown-content-btn:hover{
    background-color: #3981E5 ;
    color: white;
  }

  .dropdown-content-btn:focus{
    outline: none;
}


